*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    font-size: 62.5%;
}

body{
    color: black;
    background: white;
    font-size: 1.6rem;
}

.hero{
    height: 100vh;
    background: silver;
}

.view-port{
    position: fixed;
    top: 200px;
    left: 0px;
    right: 0px;
    bottom: 200px;
    background: rgba(218, 112, 214, 0.438);
    border: 5px dashed green;
}

.container{
    margin: 150px;
    /* background: red; */
    text-align: center;
}

.container h1{
    padding: 1rem;
    background: rgba(255, 68, 0, 0.603);
    margin-bottom: 100rem;
    transform: translateX(-100%);
    transition: all 0.2s ease-in;
}


.container h1.active{
    transform: translateX(0);
    transition: all 0.2s ease-in;
}